<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-black-50 bg-purple rounded shadow-sm">
    <div class="lh-100">
      <h4 class="mb-0 lh-100">@<%= @info[:profile_user] %></h4>
      <% if @info[:profile_user] != @info[:current_user] %>
        <div>
          <form class="form-inline my-2 my-lg-0" action='/follows/follow/<%= @info[:profile_user] %>' method='post'>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Follow</button>
          </form>
        </div>
      <% end %>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Recent tweets</h6>
    <% if @user_tweets != nil %>
      <% @user_tweets.each do |t| %>
        <div class="card my-2">
          <div class="card-body">
            <strong class="d-block text-gray-dark">
              <h5 class="card-title">
                <a href="/users/<%= @info[:profile_user] %>">
                  @<%= @info[:profile_user] %>
                </a>
                <small class="text-muted"><%= time_since(t.dig(:Timestamp)) %></small>
              </h5>
            </strong>
            <p class="card-text"><%= t.dig(:tweet) %></p>

            <div class="d-flex flex-row">
              <button class="btn btn-primary btn-sm mr-1" type="submit" value="like-btn" onclick="like(<%= t.dig(:uid) %>)"><%= t.dig(:totalLikes) %>
                Likes
              </button>
              <form>
                <button class="btn btn-primary btn-sm mx-1" type="button" data-toggle="modal" data-target="#gModal" data-url="/comments/all<%= t.dig(:uid) %>"><%= t.dig(:totalComments) %>
                  Comments
                </button>
              </form>

              <form>
                <button class="btn btn-primary btn-sm mx-1" type="button" data-toggle="modal" data-target="#gModal" data-url="/tweets/retweet/<%= t.dig(:uid)%>"><%= t.dig(:totalRetweets) %>
                  Retweet
                </button>
              </form>
            </div>
          </div>
        </div>
      <% end %>

      <small class="d-block text-right mt-3">
        <a href="/users/<%= @info[:profile_user] %>?page=<%= @page %>">Show more tweets</a>
      </small>

    <% end %>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Followed</h6>
    Following size: <%= @info[:total_following] %>
    <% if @user_followings != nil %>
      <% @user_followings.each do |f| %>
        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark"><%= f.dig(:Username) %></strong>
            <!--link to the followed user profile page -->
          </p>
        </div>
      <% end %>
      <small class="d-block text-right mt-3">
        <a href="#">Show more tweets</a>
      </small>
    <% end %>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Follower</h6>
    Follower size: <%= @info[:total_follower] %>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Trending</h6>
    <% if @trending_tweets != nil %>
      <% @trending_tweets.each do |t| %>
        <div class="card my-2">
          <div class="card-body">
            <strong class="d-block text-gray-dark"><a href="/users/<%= t.dig(:tweetedBy).first.dig(:Username) %>">
              <h5 class="card-title">@<%= t.dig(:tweetedBy).first.dig(:Username) %></h5></a></strong>
            <p class="card-text"><%= t.dig(:tweet) %></p>

            <div class="d-flex flex-row">
              <button class="btn btn-primary btn-sm mr-1" type="submit" value="like-btn" onclick="like(<%= t.dig(:uid) %>)"><%= t.dig(:totalLikes) %>
                Likes
              </button>

              <form>
                <button class="btn btn-primary btn-sm mx-1" type="button" data-toggle="modal" data-target="#gModal" data-url="/comments/<%= t.dig(:uid) %>/new"><%= t.dig(:totalComments) %>
                  Comments
                </button>
              </form>
              <form>
                <button class="btn btn-primary btn-sm mx-1" type="button" data-toggle="modal" data-target="#gModal" data-url="/tweets/retweet/<%= t.dig(:uid)%>"><%= t.dig(:totalRetweets) %>
                  Retweet
                </button>
              </form>
            </div>
          </div>
        </div>
      <% end %>
      <small class="d-block text-right mt-3">
        <a href="#">Show more trending tweets</a>
      </small>
    <% end %>
  </div>
</main>

<!-- Modal -->
<div class="modal fade" id="gModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Say something...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="col well">
        <form class="comment-retweet-form">
          <textarea class="form-control my-2" id="content" name="text" placeholder="Say something" rows="5"></textarea>
          <h6 class="pull-right" id="count_message"></h6>
          <button class="btn btn-info my-2" type="submit">Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
      function like(tweet) {
          var xhttp = new XMLHttpRequest();
          xhttp.open("POST", "/like/" + tweet + "/new", true);
          xhttp.send();
          alert("Liked " + tweet)
      }

      // function follow(user) {
      //     let xhttpf = new XMLHttpRequest();
      //     xhttpf.open("POST", "/follows/follow/" + user, true);
      //     xhttpf.send();
      //     alert("Followed " + user)
      // }

      $(function(){
          $('#gModal').on('shown.bs.modal', (event) => {
              let button = $(event.relatedTarget); // Button that triggered the modal
              let url = button.data('url');
              $('#content').trigger('focus');
              $('.comment-retweet-form').submit(() => {
                  let text = $("#content").val();
                  $.ajax({
                      url: url,
                      method: 'post',
                      data: {text: text}
                  });
              })
          });


      })


  </script>

