
<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-black-50 bg-purple rounded shadow-sm">
    <div class="lh-100">
      <h4 class="mb-0 lh-100">@<%= @profile_user.username %></h4>
      <% if @profile_user != current_user %>
        <form class="form-inline my-2 my-lg-0" action='/follows/<%= @profile_user.username %>' method='post'>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Follow</button>
        </form>
      <% end %>
    </div>

  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Recent tweets</h6>
    <% @profile_user.tweets.each do |t| %>
    <div class="media text-muted pt-3">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">@<%= @profile_user.username %></strong>
        <%= t.content.to_s %>
      </p>
    </div>
    <% end %>
    <small class="d-block text-right mt-3">
      <a href="#">Show more tweets</a>
    </small>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Followed</h6>
    Following size: <%= @profile_user.following.count %>
    <% @profile_user.following.each do |f| %>
      <div class="media text-muted pt-3">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark"><%= f.username %></strong>
          <!--link to the followed user profile page -->
        </p>
      </div>
    <% end %>
    <small class="d-block text-right mt-3">
      <a href="#">Show more tweets</a>
    </small>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Trending</h6>
    <% mock_user_tweets.each do |t| %>
      <div class="media text-muted pt-3">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@<%= mock_user.username %></strong>
          <%= t.content.to_s %>
        </p>
      </div>
    <% end %>
    <small class="d-block text-right mt-3">
      <a href="#">Show more trending tweets</a>
    </small>
  </div>
</main>
