<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-black-50 bg-purple rounded shadow-sm">
    <div class="lh-100">
      <h4 class="mb-0 lh-100">@<%= @info[:profile_user] %></h4>
      <% if @info[:profile_user] != @info[:current_user] %>
        <form class="form-inline my-2 my-lg-0" action='/follows/<%= @info[:profile_user] %>' method='post'>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Follow</button>
        </form>
      <% end %>
    </div>

  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Recent tweets</h6>
    <% @user_tweets.each do |t| %>
      <div class="card my-2">
        <div class="card-body">
          <strong class="d-block text-gray-dark">
            <h5 class="card-title">
              <a href="/users/<%= @info[:profile_user] %>">
                @<%= @info[:profile_user] %>
              </a>
              <small class="text-muted"><%= time_since(t.dig(:Timestamp)) %></small>
            </h5>
          </strong>
          <p class="card-text"><%= t.dig(:tweet) %></p>

          <form method="POST" action="/like/<%= t.dig(:uid) %>/new">
            <button class="btn btn-primary btn-sm" type="submit" value="like-btn"><%= t.dig(:totalLikes) %> Likes</button>
            <button href="#" class="btn btn-primary btn-sm" type="submit"><%= t.dig(:totalComments) %> Comments</button>
            <button href="#" class="btn btn-primary btn-sm" type="submit">Retweet</button>
          </form>
        </div>
      </div>
    <% end %>
    <small class="d-block text-right mt-3">
      <a href="#">Show more tweets</a>
    </small>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Followed</h6>
    Following size: <%= @info[:total_following] %>
    <% @user_followings.each do |f| %>
      <div class="media text-muted pt-3">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark"><%= f.dig(:Username) %></strong>
          <!--link to the followed user profile page -->
        </p>
      </div>
    <% end %>
    <small class="d-block text-right mt-3">
      <a href="#">Show more tweets</a>
    </small>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Trending</h6>
    <% @trending_tweets.each do |t| %>
      <div class="card my-2">
        <div class="card-body">
          <strong class="d-block text-gray-dark"><a href="/users/<%= t.dig(:tweetedBy).first.dig(:Username) %>"><h5 class="card-title">@<%= t.dig(:tweetedBy).first.dig(:Username) %></h5></a></strong>
          <p class="card-text"><%= t.dig(:tweet) %></p>
          <p>
            <%= t.dig(:totalLikes) %> Likes <%= t.dig(:totalComments) %> Comments
          </p>

          <button href="/like/<%= t.dig(:uid) %>/new" class="btn btn-primary btn-sm" type="submit" value="like">Like</button>
          <button href="#" class="btn btn-primary btn-sm" type="submit">Comment</button>
          <button href="#" class="btn btn-primary btn-sm" type="submit">Retweet</button>
        </div>
      </div>
    <% end %>
    <small class="d-block text-right mt-3">
      <a href="#">Show more trending tweets</a>
    </small>
  </div>
</main>
