<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-black-50 bg-purple rounded shadow-sm">
    <div class="lh-100">
      <h4 class="mb-0 lh-100">@<%=current_user.username %></h4>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Following tweets</h6>
    <% @following_tweets.each do |t| %>
    <div class="card my-2">
      <div class="card-body">
        <strong class="d-block text-gray-dark"><a href="/users/<%= t.user.username %>"><h5 class="card-title">@<%= t.user.username %></h5></a></strong>
        <p class="card-text"><%= t.content %></p>

<!--        <div class="card-footer bg-transparent px-3 pt-0 pb-2 ">-->
<!--          <div class="row align-items-center">-->
<!--        <div class="col text-right comment_box">-->
<!--          <a class="participant mr-1"><i class="fas fa-users mr-1" title="participant"></i><span><%#= activity.activity_participants.size %></span></a>-->
          <%# if activity.liked?(current_user_id) %>
<!--            <a class="like mr-1"><i class="fa fa-heart mr-1" title="unlike"></i><span><%#= activity.likes.size %></span></a>-->
          <%# else %>
<!--            <a class="like mr-1"><i class="far fa-heart mr-1" title="like"></i><span><%#= activity.likes.size %></span></a>-->
          <%# end %>
<!--          <a class="comment"><i class="far fa-comment mr-1" title="comment"></i><span><%#= activity.comments.size %></span></a>-->
<!--        </div>-->
<!--          </div>-->

<!--        </div>-->

        <button href="/like/<%= t.id %>/new" class="btn btn-primary btn-sm" type="submit" value="like">Like</button>
        <% if !t.total_likes.nil? %>
          <%= t.total_likes.count %>
        <% end %>
        <button href="#" class="btn btn-primary btn-sm" type="submit">Comment</button>
        <button href="#" class="btn btn-primary btn-sm" type="submit">Retweet</button>
      </div>
    </div>
    <% end %>
    <small class="d-block text-right mt-3">
      <a href="#">Show more tweets</a>
    </small>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Trending</h6>
    <% mock_user_tweets.each do |t| %>
      <div class="media text-muted pt-3">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@<%= mock_user.username %></strong>
          <%= t.content.to_s %>
        </p>
      </div>
    <% end %>
    <small class="d-block text-right mt-3">
      <a href="#">Show more trending tweets</a>
    </small>
  </div>
</main>
