<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-black-50 bg-purple rounded shadow-sm">
    <div class="lh-100">
      <h4 class="mb-0 lh-100">@<%= @current_user %></h4>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Following tweets</h6>
    <% if @following_tweets != nil %>
    <% @following_tweets.each do |t| %>
    <div class="card my-2">
      <div class="card-body">
        <strong class="d-block text-gray-dark"><a href="/users/<%= t.dig(:tweetedBy).first.dig(:Username) %>"><h5 class="card-title">@<%= t.dig(:tweetedBy).first.dig(:Username) %></h5></a></strong>
        <p class="card-text"><%= t.dig(:tweet) %></p>
        <p>
          <%= t.dig(:totalLikes) %> Likes <%= t.dig(:totalComments) %> Comments
        </p>

        <button href="/like/<%= t.dig(:uid) %>/new" class="btn btn-primary btn-sm" type="submit" value="like">Like</button>
        <button href="#" class="btn btn-primary btn-sm" type="submit">Comment</button>
        <button href="#" class="btn btn-primary btn-sm" type="submit">Retweet</button>
      </div>
    </div>
    <% end %>
    <small class="d-block text-right mt-3">
      <a href="#">Show more tweets</a>
    </small>
      <% end %>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Trending</h6>
    <% if @trending_tweets != nil %>
    <% @trending_tweets.each do |t| %>
      <div class="media text-muted pt-3">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@<%= t.dig(:tweetedBy).first.dig(:Username) %></strong>
          <%= t.dig(:tweet) %>
        </p>
      </div>
    <% end %>
    <small class="d-block text-right mt-3">
      <a href="#">Show more trending tweets</a>
    </small>
    <% end %>
  </div>
</main>
