<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-black-50 bg-purple rounded shadow-sm">
    <div class="lh-100">
      <h4 class="mb-0 lh-100">@<%= @current_user %></h4>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Following tweets</h6>
    <% if @following_tweets != nil %>
      <% @following_tweets.each do |t| %>
        <div class="card my-2">
          <div class="card-body">
            <strong class="d-block text-gray-dark">
              <h5 class="card-title">
                <a href="/users/<%= t.dig(:tweetedBy).first.dig(:Username) %>">@<%= t.dig(:tweetedBy).first.dig(:Username) %></a>
                <small class="text-muted"><%= time_since(t.dig(:Timestamp)) %></small>
              </h5>
            </strong>
            <p class="card-text"><%= t.dig(:tweet) %></p>

            <div class="d-flex flex-row">
              <button class="btn btn-primary btn-sm mr-1" type="submit" value="like-btn" onclick="like(<%= t.dig(:uid) %>)"><%= t.dig(:totalLikes) %>
                Likes</button>
              <form method="POST" action="/comment/all/<%= t.dig(:uid)%>">
                <button href="#" class="btn btn-primary btn-sm mx-1" type="submit"><%= t.dig(:totalComments) %>
                  Comments</button>
              </form>

              <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-primary" type="button" data-toggle="modal" onclick="getComments(<%= t.dig(:uid)%>)">Comment Test</button>
              </form>
              <button href="#" class="btn btn-primary btn-sm mx-1" type="submit">Retweet</button>
            </div>
          </div>
        </div>
      <% end %>
      <small class="d-block text-right mt-3">
        <a href="#">Show more tweets</a>
      </small>
    <% end %>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Trending</h6>
    <% if @trending_tweets != nil %>
      <% @trending_tweets.each do |t| %>
        <div class="card my-2">
          <div class="card-body">
            <strong class="d-block text-gray-dark">
              <a href="/users/<%= t.dig(:tweetedBy).first.dig(:Username) %>">
                <h5 class="card-title">@<%= t.dig(:tweetedBy).first.dig(:Username) %></h5>
              </a>
            </strong>
            <p class="card-text"><%= t.dig(:tweet) %></p>

            <div class="d-flex flex-row">
              <button class="btn btn-primary btn-sm mr-1" type="submit" value="like-btn" onclick="like(<%= t.dig(:uid) %>)"><%= t.dig(:totalLikes) %>
                Likes</button>
              <form method="POST" action="/comment/<%= t.dig(:uid) %>/new">
                <button href="#" class="btn btn-primary btn-sm mx-1" type="submit"><%= t.dig(:totalComments) %>
                  Comments</button>
              </form>
              <button href="#" class="btn btn-primary btn-sm mx-1" type="submit">Retweet</button>
            </div>
          </div>
        </div>
      <% end %>
      <small class="d-block text-right mt-3">
        <a href="#">Show more trending tweets</a>
      </small>
    <% end %>
  </div>

  <script>
    function like(tweet) {
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "/like/" + tweet + "/new", true);
      xhttp.send();
      alert("Liked " + tweet)
    }
  </script>

  <script>
    var tweet_id;
    function getComments(id) {
      tweet_id = id
      var url_to_search = '/comments/all/' + id
      console.log(url_to_search);
      $.ajax({
        url: url_to_search,
        type: 'get',
        dataType: 'json',
        success: function (res) {

var string_return ="";
for( var i = 0; i < res["~Comment_on"].length; i++) {
  sr = "<br>" + "\ User: " + res["~Comment_on"][i]["author"][0]["Username"] + " says: " +  res["~Comment_on"][i]["Text"] + "\n"
  string_return = string_return + sr
}
          $('.modal-body').html(string_return);

          // show modal
          $('#commentModel').modal('show');
        },
        error: function (request, status, error) {
          console.log("ajax call went wrong:" + request.responseText);
        }
      });
      return false;
    }


    function your_ajax_function(){
      console.log("second ajax");
      console.log("Tweet ID is:" + tweet_id)
      var mydata = $("#new-comment").serialize();
      $.ajax({
        url: "/comments/" + tweet_id + "/new",
        type: 'post',
        dataType: 'json',
        data: mydata,
        success: function (res) {
          console.log(res);
          // get the ajax response data update modal content here you may want to format data or update other modal elements here too
          string_return = "<br>" + "\ User: You says: " + + mydata.split("=")[1] + "<br />"+ string_return
          $('.modal-body').html(string_return);

          // show modal
        },
        error: function (request, status, error) {
          $('.modal-body').html("Failed to post your comment. Try again");
          console.log("ajax call went wrong:" + request.responseText);
        }
      });
      return false;

      }
  </script>

  <script></script>

  <div class="modal fade" id="commentModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Comment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <form id="new-comment">
            <textarea class="form-control my-2" id="text" name="text" placeholder="Type in your Comment" rows="5"></textarea>
            <button  type="button" class="btn btn-primary btn-sm mx-1" onclick="your_ajax_function();">Add Comment Comments</button>
          </form>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</main>
